{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category.name }}{% endblock %}

{% block body %}
        <div class="media-body">
            <h1 class="mt-0">{{ category.name }}</h1>
            {% for program in programs %}
                <div>
                    <h2>{{ program.id }} . {{ program.title }}</h2>
                    <p>{{ program.summary }}</p>
                    {# Lien vers la fiche de la série : #}
                    <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
                </div>
            {% else %}
                Aucun programme trouvé.
            {% endfor %}
        </div>

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}
